:root {
    --cp-color-green: hsla(162, 85%, 50%, 1);
    --cp-color-box-shadow: hsla(0, 0%, 0%, 0.4);
    --cp-border-radius: 10px;
}

.background {
    composes: background from 'components/ProgressBar/ProgressBar.css';

    border-radius: 10px;
    height: 7px;
    border: solid 1px darkgray;
    box-shadow: 0 5px 5px -4px var(--cp-color-box-shadow);
}

.bar {
    composes: bar from 'components/ProgressBar/ProgressBar.css';

    /* Overrides default color */
    background-color: var(--cp-color-green);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
