.background {
    display: block;
    position: relative;
    height: 5px;

    background-color: lightgrey;
}

.bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;

    background-color: yellowgreen;
}
